/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('fonts/montserrat-v14-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('fonts/montserrat-v14-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-300italic - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 300;
  src: url('fonts/montserrat-v14-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
       url('fonts/montserrat-v14-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-300italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-300italic.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/montserrat-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url('fonts/montserrat-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/montserrat-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/montserrat-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/montserrat-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/montserrat-v14-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* start global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  background-color: #FFF;

}

a {
  text-decoration: none;
  color: #232323;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
  color: #232323;
  padding: 1rem;
  line-height: 2.5rem;
}

h6 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    opacity: .5;
    padding: 1.5rem 1rem;

}

img {
  size: 50%;
}

ol {
  padding-left: 2rem;
}

li {
  font-size: 1.8rem;
  font-weight: 300;
  color: #232323;
  padding: 0.5rem;
}

.text-link {
  color: #00008b;
  text-decoration: underline;
}


/* end global */

/* start reusable */


header {
  width: 100%;
  height: 70vh;
}

.top-nav {
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 15vh;
  display: flex;
  padding: 3rem;
}

.logo {
  margin-left: 1.5rem;
}

.logo a {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}

li {
  margin: 0 0.5rem;
}

.nav-list {
  font-family: "Montserrat", sans-serif;
  font-size: 2.0rem;
  padding: 1rem;
  margin-right: 1rem;
  transition: color 650ms;
}


.nav-link {
  padding-right: 2rem;
  transition: color text-decoration 650ms;
}

.nav-link:hover,
.nav-link:focus {
  color: #00008b;
}

.landing-text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.landing-text h1 {
  font-size: 5rem;
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  user-select: none;
  color: #232323;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 300;
  color: #232323;
}

.intro {
  margin: 3rem auto;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.intro-img {
  margin-top: 2rem;
  text-align: center;
  justify-content: center;
}

.intro-img img {
  width: 30%;
  height: auto;
  border-radius: .8rem;
}


.intro h1 {
  padding: 1rem;
  font-size: 3rem;
  text-align: center;
}

section {
  padding: 3rem 0;
  margin: 0 auto;
  margin-bottom: 3rem;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.section-heading h1{
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
  font-weight: 700;
}

/* end reusable */

/* start epic-header */

#epic-landing-text {
  margin-top: 8rem;
}

.epic-header img {
  width: 50%;
  height: auto;
  box-shadow: 0 0 .3rem;
}

/* end epic-header */

/* start epic-intro */

.epic-intro {
  margin-top: 8rem;
}

#build-img {
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  width: 60%;
  height: auto;
  box-shadow: 0 0 .3rem;
}

.epic-img {
  display: flex;
  margin: 0 auto;
}

/* end epic-intro */

/* start react-header */

.react-header {
  background-image: url("library/react1.png");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}


#react-landing-text {
  margin-top: 16rem;
}

#react-landing-text h1{
  font-size: 6rem;
  color: #FFF;
}

#react-landing-text h6{
  color: #FFF;
}

.react-header .nav-link {
  color: #FFF;
}

.react-header .nav-link:hover,
.react-header .nav-link:focus {
  color: #61DBFB;
}



/* end react-header */

/* start globe-header */

.globe-header {
  background-image: url(library/livingroom.png);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.globe-header h6 {
  opacity: 1;
  font-size: 3rem;
  font-weight: 400;
  transform: translateY(-2rem);
}

#globe-landing-text {
  margin-top: 4.5rem;
}

/* end globe-header */


/* start globe-intro */

.globe-intro-img {
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 80%;
}

.globe-intro-img img {
  width: 100%;
  height: auto;
  box-shadow: 0 0 .3rem;
}

.globe-intro-img p {
  text-align: center;
  font-weight: 300;
  opacity: .7;
  font-size: 1.5rem;
}

.globe-intro-img a {
  color: #4545AA;
  transition: color text-decoration 650ms;
}

.globe-intro-img a:hover {
  color: #00008b;
  text-decoration: underline;
}





/* end globe-intro */

/* start globe-research */

.globe-img {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

#globe-wire {
  width: 20rem;
  height: auto;
  margin: 2rem auto;
  padding: 1rem;
}

.globe-research span {
  font-weight: 700;
}


/* end globe-research */

/* start globe-design */

.globe-design span {
  font-weight: 700;
}

#globe-prototype {
  width: 20rem;
  height: auto;
  margin: 1rem;
}

/* end globe-design */

/* start globe-testing */

.globe-testing a {
  color: #4545AA;
}

/* end globe-testing */
/* start react-ideation */

.ideation-img {
  display: flex;
  flex-direction: row;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container p {
  text-align:center;
  margin-right: 17rem;
}


#react-desktop {
  width: 70%;
  height: auto;
}

#react-mobile {
  width: 50%;
  height: auto;
}


/* end react-ideation */

/* start react-design */

.react-video {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  border: 2px black;
}

.design h6{
  padding-top: 3rem;
}

/* end react-design */

/* start react-reflection */



/* end react-reflection */


/* start main-content */

.main-content {
  padding: 3rem 0;
  margin: 0 auto;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.content-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  padding-top: 5rem;
  flex-direction: column;
}

.content-item:last-child {
  margin-bottom: 0;
}

.portfolio-description{
  flex: 1;
}

.content-description h1 {
  font-size: 3rem;
  margin: 1rem 0;
  text-align: center;
  font-weight: 700;
}

.portfolio-img {
  width: 100%;
  flex: 1;
  text-align: center;
  padding: 2rem 0;

}

.mental-img {
  display: flex;
  flex-direction: row;
}

.mental-img img{
  width: 50rem;
  height: auto;
  margin: 2rem;
}

.portfolio-img img {
  width: 100rem;
  height: auto;
  border-radius: .8rem;
}

.content-description ol {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
}

.content-description h6{
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  opacity: .5;
  padding: 1.5rem;
}

.content-description span {
  font-weight: 700;
}

#izzy{
  width: 80rem;
  height: auto;
  border-radius: .8rem;
}

#storyboard {
  height: 100rem;
  width: auto;
}

#reflection-link {
  text-decoration: underline;
}
/* end main-content */

/* start footer */

.copyright {
  width: 100%;
  text-align: center;
  background-color: #C6C6C6;
  padding: 2rem 0;
  position: relative;
}

.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i{
  color: #16162d;
  font-size: 2rem;
  margin: auto;
}

.copyright p{
  font-size: 1.5rem;
}

/* end footer */

/* start animation */

@keyframes pulse {
  0%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
  }
  75%{
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);

  }

}

/* end animation */



/* media queries for tablet */

@media only screen and (max-width: 768px) {

  .mental-img img {
    width: 50%;
    height: auto;
  }

  #persona-img {
    width: 50%;
    height: auto;
  }

  #storyboard-img {
    width: 50%;
    height: auto;
  }

  .landing-text h1 {
    font-size: 3rem;
  }

  .landing-text h6 {
    font-size: 2rem;
  }

  .landing-text {
    top: 30%;
  }

  .top-nav {

  }

  .logo a {
    font-size: 2rem;
  }

  .nav-list a {
    font-size: 1.5rem;
  }

  .intro{
    margin: 0 auto;
  }

  header {
    height: 50vh;
  }

  p {
    font-size: 1.5rem;
  }

  #react-landing-text h1{
    font-size: 4rem;
    color: #FFF;
  }

  .img-container p {
    text-align:center;
    margin-right: 17rem;
    width: 70%;
  }

  #mobile-p{
    width: 50%;
  }


  .react-video {
    width: 70%;
    margin: 2rem auto;
    justify-content: center;
    text-align: center;
  }

  li {
    font-size: 1.5rem;
  }

  .globe-header {
    height: 300px;
  }

  #globe-landing-text {
    margin-top: 6rem;
  }

  .globe-img {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }

  #globe-wire {
    width: 10rem;
  }

  #globe-prototype {
    width: 10rem;
  }


  #epic-landing-text {
    margin-top: 2rem;
  }

  .epic-intro {
    margin-top: 2rem;
  }

}

@media only screen and (max-width: 480px) {

  p {
    font-size: 1.2rem;
  }

  li {
    font-size: 1.2rem;
    margin: 0 .2rem;
  }

  section {
    width: 70%;
    margin: 0 auto;
    margin-bottom: -1rem;
  }

  .logo {
    margin-left: .5rem;
  }

  .logo a {
    font-size: 1.5rem;
  }

  .nav-list {
    margin-left: 8rem;
  }

  .nav-list a {
    font-size: 1.2rem;
    padding: 0;
    margin-right: 0;
  }

  #react-link {
    font-weight: 700;
  }

  .landing-text {
    margin-top: 2rem;
  }

  .landing-text h1 {
    font-size: 3rem;
  }

  .landing-text h6 {
    margin-top: -2rem;
    font-size: 1.5rem;
  }

  #personaintro-img {
    width: 60%;
    height: auto;
  }

  .intro {
    margin-top: 2rem;
  }

  .intro h1 {
    font-size: 2rem;
    margin-bottom: -1rem;
  }

  .content-item {

    width: 100%;
    padding: 2rem 0;
    margin-bottom: 1rem;
  }


  .container {
    width: 100%;
    padding-top:0;
    margin-top: 0;
  }

  .content-description h6 {
    padding-left: 1rem;
    font-size: 1.5rem;
  }


  section h6 {
    font-size: 1.5rem;
  }

  .content-description h1 {
    font-size: 2rem;
  }

  .content-item {
    padding-top: 0;

  }

  .mental-img {
    text-align: center;
  }

  .mental-img img {
    margin: 1rem;
  }


  #persona-img {
    width: 100%;
    height: auto;
  }

  #storyboard-img {
    width: 80%;
    height: auto;
  }

  #react-landing-text {
    margin-top: 14rem;
  }

  #react-landing-text h1 {
    font-size: 3rem;
  }

  .intro {
    margin-top: 0;
  }


  .section-heading h1 {
    font-size: 2rem;
  }

  .img-container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;

  }

  .img-container img {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }

  .img-container p {
    text-align:center;
    width: 100%;
  }

  #mobile-p{
    width: 100%;
  }

  .ideation-img {
    flex-direction: column;
  }


  .section-heading {
    padding: 0;
  }

  .react-header {
    height: 300px;
  }

  .globe-header .nav-list {
    transform:translateY(-1rem);
  }

  .globe-header .landing-text h6{
    display: none;
    margin-top: .8rem;
  }

  .globe-intro-img p {
    font-size: 1rem;
  }



  #globe-wire {
    width: 7rem;
    height: auto;
    padding: .5rem;
  }

  #globe-prototype {
    width: 7rem;
    height: auto;
    padding: .5rem;
  }

  #epic-img {
    width: 70%;
    height: auto;
  }

  #build-img {
    width: 80%;
    height: auto;
  }





}
